*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: #18121E;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.central-calc{
    padding: .3em;
    background-color: #233237;
    width: 20%;
    border: 1px solid #EAC67A;
    border-radius: 15px;
}

.titulo h3{
    font-weight: 300;
    color: white;
}

.op{
    text-align: right;
}

.po{
    color: white;
    padding: .2em;
    overflow-wrap: break-word;
    min-height: 1.6em;
}

.co{
    min-height: .6em;
    font-size: 3em;
    font-weight: 700;
    padding: .2em;
    color: white;
    overflow-wrap: break-word;
}

#div-btns{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 3px;
}

#div-btns button{
    border: 1px solid transparent;
    border-radius: 10px;
    height: 4em;
    font-size: 1.2em;
    background-color: #984B43;
    cursor: pointer;
}

#div-btns .num-btn{
    background-color: #EAC67A;
}

#div-btns .e-btn{
    grid-column: span 2;
}